body {
    background-color: white;
}

nav {
    background-color: #2A3F54;
}

ul li .nav-link {
    color: white !important;
}

.dk-right {
    margin: 0 !important;
}

.navbar-toggler hr {
    width: 5vmin;
    height: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

.dk-mx-a {
    margin: 0 auto;
    max-width: 50%;
}

@media (max-width: 1750px){
    .dk-mx-a {
        max-width: 70%;
    }
}

@media (max-width: 1250px){
    .dk-mx-a {
        max-width: 90%;
    }
}

@media (max-width: 1050px){
    .dk-mx-a {
        max-width: 100%;
    }
}